.button {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;

    border: none;
    border-radius: var(--radius-round);
    outline: 0;

    background-color: var(--secondary-500);
    color: var(--text-light);
    box-shadow: 0 2px 15px 2px rgba(var(--secondary-500-rgb), 0.5);
}

.full {
    width: 100%;
}
.button svg {
    font-size: 1.5rem;
}

.button:hover {
    background-color: var(--secondary-600);
}

.primary {
    background-color: var(--primary-500);
    box-shadow: 0 2px 15px 2px rgba(var(--primary-500-rgb), 0.5);
}
.primary:hover {
    background-color: var(--primary-600);
}
.primary:focus-visible {
    outline: 4px solid var(--primary-200);
}

.secondary {
    background-color: var(--secondary-500);
    box-shadow: 0 2px 15px 2px rgba(var(--secondary-500-rgb), 0.5);
}
.secondary:hover {
    background-color: var(--secondary-600);
}
.secondary:focus-visible {
    outline: 4px solid var(--secondary-200);
}

.destructive {
    background-color: var(--destructive-500);
    box-shadow: 0 2px 15px 2px rgba(var(--destructive-500-rgb), 0.5);
}
.destructive:hover {
    background-color: var(--destructive-600);
}
.destructive:focus-visible {
    outline: 4px solid var(--destructive-200);
}

.success {
    background-color: var(--success-500);
    box-shadow: 0 2px 15px 2px rgba(var(--success-500-rgb), 0.5);
}
.success:hover {
    background-color: var(--success-600);
}
.success:focus-visible {
    outline: 4px solid var(--success-200);
}

.warning {
    background-color: var(--warning-500);
    color: var(--text-dark);
    box-shadow: 0 2px 15px 2px rgba(var(--warning-500-rgb), 0.5);
}
.warning:hover {
    background-color: var(--warning-600);
}
.warning:focus-visible {
    outline: 4px solid var(--warning-200);
}

.grey {
    background-color: var(--grey-500);
    color: var(--text-dark);
    box-shadow: 0 2px 15px 2px rgba(var(--grey-500-rgb), 0.5);
}
.grey:hover {
    background-color: var(--grey-600);
}
.grey:focus-visible {
    outline: 4px solid var(--grey-200);
}