@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	@apply shadow-inner bg-gray-200;
}
::-webkit-scrollbar-thumb {
	@apply bg-gray-400 rounded-md;
}
::-webkit-scrollbar-thumb:hover {
	@apply bg-primary-500;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scroll-hidden::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scroll-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

input[type='text'],
textarea {
	@apply focus-visible:outline-1 focus-visible:outline-primary-300 focus-visible:ring-4 focus-visible:ring-primary-100/50;
}
